html, body {
  height: 100%;
  margin: 0;
}

#content {
    height: 90%; 
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.box {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px
}

.hidden {
    display: none;
}

#Ja {
    background-color: green;
}

#Nej {
    background-color: red;
}

#Spg {
    color: white;
    background-color: black;
}
