html, body {
    height: 100%;
    margin: 0;

    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    /* disable selecting (there is nothing to select) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#content {
    height: auto;
	min-height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /*-webkit-transform: translate3d(0,0,0); Safari er lort */
}

.box {
    padding: 15px;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#Ja {
    background-color: green;
}

#Nej {
    background-color: red;
}

.Spg {
    color: white;
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
}

footer {
	font-size: 150%;
	text-align: center;
	line-height: 2em;
	margin-top: -2em;
    position: relative; /* needed to make z-index work... */
}

/* Credit Intro.js */
.showElement {
    z-index: 99999;
}

#overlayer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    opacity: 0.8;
    background-color: #000;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.9)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    background: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.9) 100%);
    filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1)";
    -ms-filter: "alpha(opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}
